.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.menu__item a {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: #d9d3d3;
    text-decoration: none;
}

.menu__active {
    border-bottom: 2px solid #ffffff;
}

@media screen and (max-width: 700px) {
    .menu {
        gap: 15px;
    }

    .menu__item a {
        font-size: 15px;
    }
}


@media screen and (max-width: 500px) {
    .menu__item a {
        font-size: 10px;
    }
}

@media screen and (max-width: 390px) {
    .menu {
        gap: 10px;
    }

    .menu__item a {
        font-size: 10px;
    }
}